*{
    margin:0;
    padding :0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
footer{
    position: relative;
    width: 100%;
    background-color: rgb(201, 192, 192);
    z-index: 1;
}
section{
    position: relative;
    width: 1170px;
    margin: auto;
    margin-top: 60px;
}
.section{
    position: relative;
    width: 1170px;
}
header{
    position: relative;
    top:60px;
    width: 100%;
    background-color: #3d84e6;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* nav bar css  */
nav{
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: -2px 0px 3px 2px #cdbfbf;
    background-color: white;
    z-index: 11111;
}
.logo{
    width: 25%;
}
.menu{
    width: 75%;
}
.menu ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.menu ul li{
    margin: 10px;
    padding: 5px;
    transition: all 1s linear;
    a{
        color: rgb(70, 68, 68);
    }
}
.menu ul li:hover{
    background-color: rgb(1, 33, 128);
    a{
        color:white;
    }
}
/* navbar css end */
/* hero area css start */

.hero_area{
    width: 100%;
    height: 100vh;
    position: relative;
    top:50px;
    background-image: url("../images/img2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_area::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(84, 109, 174, 0.56);
}
.hero_area .hero_text {
    z-index: 111;
}
.hero_area .hero_text h1{
    text-align: center;
    color: rgb(241, 238, 238);
    font-size: 46px;
}
.hero_area .hero_text p{
    text-align: center;
    color: rgb(241, 238, 238);
    font-size: 30px;
}

/* hero area css end */
/* edu_service area css start */

.edu_service{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.edu_service .box{
    position: relative;
    width: 250px;
    height: 280px;
    background-color: rgb(242, 237, 237);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    z-index: -1111;
}
.edu_service .inner_box{
   width: 100%;
   position: relative;
}
.inner_text{
    position: absolute;
    top: 110px;
}
.edu_service .img1::before{
    content: url('../images/1.png');
    position: absolute;
    top: -57px;
    left: 45px;
}
.edu_service .img2::before{
    content: url('../images/2.png');
    position: absolute;
    top: -57px;
    left: 45px;
    
}

.edu_service .img3::before{
    content: url('../images/3.png');
    position: absolute;
    top: -57px;
    left: 45px;   
}

.edu_service .img4::before{
    content: url('../images/4.png');
    position: absolute;
    top: -57px;
    left: 45px;   
}
.edu_service .box .inner_box p{
    font-size: 14px;
    line-height: 22px;
}
.edu_service .box .inner_box a{
    font-size: 13px;
    font-style: italic;
}
.course{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.course .heading .h1{
    font-size: 38px;
}
.course .course_area{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    line-height: 25px;
}

/* about us css  */
.aboutus{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.aboutus_text{
    width: 70%;
}
.aboutus_text .h1,.upcommimg_course .h1{
    margin-bottom: 15px;
}
.aboutus_text p{
    margin-bottom: 15px;
    text-align: justify;
}
.upcommimg_course{
    width: 25%;
    text-align: left;
}

.upcommimg_course a{
    display: block;
    margin-bottom: 15px;
    color: black;
}

/* footer css start  */
.top_footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30px;
}
.top_footer .main_top{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.top_footer .main_top > div{
    width: 25%;
}
.top_footer .main_top .course_category ul li,.top_footer .main_top .product_category ul li
,.top_footer .main_top .browse_category ul li,.top_footer .main_top .contact_details ul li{
    display: flex;
    flex-direction: column;
}
.top_footer .main_top ul li a{
    color: rgb(0, 0, 0);
}

.top_footer .social_media{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_footer .social_media ul li{
    display: inline-block;
    margin: 10px;
}
.top_footer .social_media ul li a{
    display: inline-block;
    font-size: 30px;
    color: rgb(78, 78, 75);
}
.bottom_footer{
    width: 100%;
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.bottom_footer .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom_footer .section .footer_menu{
    width: 50%;
}
.bottom_footer .section .footer_menu ul{
    width: 100%;
}
.bottom_footer .section .footer_menu ul li{
    display: inline-block;
    margin-right: 10px;
    padding-right:10px ;
    border-right: 2px solid white;
}
.bottom_footer .section .copy_right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bottom_footer .section .copy_right p,a{
    color: white;
}

header .head{
    width: 100%;
}
header .head h1,header .head  p{
    text-align: center;
    color:white;
}



/* conatct page css  */

.inqury_form{
    position: relative;
    width: 100%;
    line-height: 25px;
    z-index: 1111111111111;
}
.inqury_form .inner_inquiry_form{
    position: relative;
    width: 100%;
    top: 50px;
}
.inqury_form .inner_inquiry_form h1{
    margin-bottom: 20px;
}
.inqury_form .inner_inquiry_form form{
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inqury_form .inner_inquiry_form form input[type="text"],
.inqury_form .inner_inquiry_form form input[type="email"],
.inqury_form .inner_inquiry_form form textarea{
    width: 100%;
    padding: 10px;
    background-color: rgb(230, 223, 223);
}  

.inqury_form .inner_inquiry_form form .btn{
    width: 100px;
}
.inqury_form .inner_inquiry_form form .btn input{
    width: 100%;
    padding: 10px;
    background-color: rgb(218, 207, 207);
}


.map{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    position: relative;
    top: 50px;
}
